<UserScriptConfig>
	<Script author="Matti Jääaro" basedir="Office_365_Outlook_Web_Access_-_Tighter_interface" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="* Tightens up the mail list so that you can fit around 40% more e-mails on one screen." enabled="false" filename="Office_365_Outlook_Web_Access_-_Tighter_interface.user.js" installTime="1472753415000" modified="1472753415000" name="Office 365 Outlook Web Access - Tighter interface" namespace="http://userstyles.org" noframes="false" runAt="document-start" updateMetaStatus="ok" uuid="cb017fdc-c5ea-4b64-8eb4-bbff0a011cbf" version="0.20140423102801" installurl="https://userstyles.org/styles/userjs/100720/Office%20365%20Outlook%20Web%20Access%20-%20Tighter%20interface.user.js" updateurl="https://userstyles.org/styles/userjs/100720/Office%20365%20Outlook%20Web%20Access%20-%20Tighter%20interface.user.js">
		<Grant>none</Grant>
		<Include>http://outlook.office365.com/*</Include>
		<Include>https://outlook.office365.com/*</Include>
		<Include>http://*.outlook.office365.com/*</Include>
		<Include>https://*.outlook.office365.com/*</Include>
	</Script>
	<Script author="d3ft0n" basedir="Outlook_Darkness" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="Based on &quot;Dark Outlook&quot; of &quot;Eutricots&quot;, with some adjustment, such as background color on the login form." enabled="false" filename="Outlook_%7C_Darkness.user.js" installTime="1472753415000" modified="1472753415000" name="Outlook | Darkness" namespace="http://userstyles.org" noframes="false" runAt="document-start" updateMetaStatus="ok" uuid="2e5a0352-cce2-4fe5-b09d-5f3bf15a0a5c" version="0.20160210081848" installurl="https://userstyles.org/styles/userjs/122920/Outlook%20%7C%20Darkness.user.js" updateurl="https://userstyles.org/styles/userjs/122920/Outlook%20%7C%20Darkness.user.js">
		<Grant>none</Grant>
		<Include>http://outlook.office365.com/*</Include>
		<Include>https://outlook.office365.com/*</Include>
		<Include>http://*.outlook.office365.com/*</Include>
		<Include>https://*.outlook.office365.com/*</Include>
		<Include>http://portal.office.com/*</Include>
		<Include>https://portal.office.com/*</Include>
		<Include>http://*.portal.office.com/*</Include>
		<Include>https://*.portal.office.com/*</Include>
		<Include>http://login.microsoftonline.com/*</Include>
		<Include>https://login.microsoftonline.com/*</Include>
		<Include>http://*.login.microsoftonline.com/*</Include>
		<Include>https://*.login.microsoftonline.com/*</Include>
	</Script>
	<Script basedir="WorkspacePulldown" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="Always have the &quot;You are in the ___ workspace&quot; as a pulldown, not just when the workspace name gets clicked.  (From the 'onclick')" enabled="true" filename="WorkspacePulldown.user.js" installTime="1474401523000" modified="1474401578000" name="WorkspacePulldown" namespace="clemson" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="2068c2f1-1f81-4238-8f48-2f94c1a92b76" version="1" installurl="file:///home/jas/.mozilla/firefox/j2js9i4x.default-1472752098977/gm_scripts/WorkspacePulldown/WorkspacePulldown.user.js" updateurl="file:///home/jas/.mozilla/firefox/j2js9i4x.default-1472752098977/gm_scripts/WorkspacePulldown/WorkspacePulldown.user.js">
		<Grant>none</Grant>
		<Include>https://ithelp.clemson.edu/*</Include>
	</Script>
	<Script basedir="ReloginTigerTracks" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="Clicks &quot;Click here to log in again&quot; on Tiger Tracks refresh page" enabled="true" filename="ReloginTigerTracks.user.js" installTime="1477410726000" modified="1477410785000" name="ReloginTigerTracks" namespace="clemson" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="fc5e45f0-1663-44f1-8d00-d51029a8df2e" version="1" installurl="file:///home/jas/.mozilla/firefox/j2js9i4x.default-1472752098977/gm_scripts/ReloginTigerTracks/ReloginTigerTracks.user.js" updateurl="file:///home/jas/.mozilla/firefox/j2js9i4x.default-1472752098977/gm_scripts/ReloginTigerTracks/ReloginTigerTracks.user.js">
		<Grant>none</Grant>
		<Include>https://ithelp.clemson.edu/*</Include>
	</Script>
</UserScriptConfig>